:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 700px) {
  .brand-name{
    font-size: 0.6em;
  }
}
.menu-card:hover {
  background: rgba(204, 204, 204, 0.17);
  cursor: pointer;
}

.item-name, .item-price {
  font-weight: 700;
  font-size: 19px;
}

@media screen and (max-width: 900px) {
  .item-name, .item-price {
    font-size: 16px;
  }
  .menu-item-body {
    font-size: 14px;
  }
}